.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    position: relative;
    width: 100%;
    color: #333;
    font-family: 'Arial', sans-serif;
    border: #ccc solid;
}

.pointer {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}